* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.appContainer {
    position: relative;
}



/*---------------------*/
/*------HEADERNAV------*/
/*---------------------*/
.headerNavDiv {
    background-color: #3dbfff;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerNavDiv h1 {
    margin: 0;
    padding: 5px;
    font-size: 22px;
    color: white;
    font-weight: lighter;
}

.headerNavDiv a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: .3s;
}

.headerNavDiv a:hover {
    color: #ffc649;
}

.navDiv a {
    text-decoration: none;
    padding: 21px 20px 20px 20px;
    color: white;
    transition: .3s;
}

.navDiv a:hover {
    background-color: #8ad8ff;
    color: #12394c;
}


.navDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}





/*---------------------*/
/*-----WELCOMEPAGE-----*/
/*---------------------*/
.welcomePageDiv {
    background: url('https://images.unsplash.com/photo-1442876906995-6761040d1f0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f298a52eb789d2258812c601ad22962&auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.welcomePageOverlay {
    height: 90vh;
    background-color: #1d1d1dc4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px -1px 130px 13px rgba(36,36,36,0.62);
}

.welcomePageOverlay h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 90px;
    font-weight: lighter;
    letter-spacing: 3px;
}

.welcomePageOverlay button {
    margin: 50px;
    width: 150px;
    font-size: 50px;
    border-radius: 10px;
    background-color: rgb(61, 191, 255);
    border: none;
    transition: .3s;
    outline: none;
}

.welcomePageOverlay button:hover {
    background-color: dodgerblue;
}

.welcomePageOverlay a {
    text-decoration: none;
    border: none;
    color: white;
}


/*---------------------*/
/*--------ABOUT--------*/
/*---------------------*/
.aboutDiv {
    background: url('https://images.unsplash.com/photo-1476789668825-c16c51c46ac3?ixlib=rb-0.3.5&s=33fbc87cec61ae0f05aa6de827905fa5&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.aboutDivOverlay {
    height: 90vh;
    background-color: #1d1d1dc4;
    box-shadow: inset 0px -1px 300px 17px rgba(20,20,20,1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutDivOverlay p {
    margin: 0;
    padding: 0;
    color: white;
}
.aboutDivOverlay a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutBlock1 a,
.aboutBlock2 a,
.aboutBlock3 a {
    transition: .3s;
}

.aboutBlock1 a:hover,
.aboutBlock2 a:hover,
.aboutBlock3 a:hover {
    color: lightblue;
    border-bottom: 1px solid lightblue;
}

.aboutBlock1,
.aboutBlock2,
.aboutBlock3 {
    display: flex;
    align-items: center;
    line-height: 25px;
    padding: 10px;
    background-color: #7777;
    border-radius: 5px;
    margin: 5px 15%;
    justify-content: flex-start;
    height: 100px;
    transition: .3s;
    font-size: 18px;
    text-align: center;
}

.aboutBlock1:hover,
.aboutBlock2:hover,
.aboutBlock3:hover {
    background-color: #3338;
}

.aboutBlock4 {
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons2 {
    color: white;
    font-size: 40px;
    margin: 10px;
    transition: .3s;
}

.iLink:hover {
    color: #0077B5;
}

.iGit:hover {
    color: #913399;
}


/*---------------------*/
/*--------GAME---------*/
/*---------------------*/
.gameContainerDiv {
    padding: 20px;
}

.questionDiv {
    text-align: center;
    background-color: #1c536f95;
    color: white;
    border-radius: 8px;
}

.questionStyle {
    font-size: 26px;
    border: 1px solid #3337;
    padding: 10px;
    border-radius: 8px;
    margin: 0;
    font-weight: 300;
}

.answersDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-direction: column;
}

.answersDiv button {
    padding: 10px;
    font-size: 18px;
    margin: 20px 100px;
    border-radius: 5px;
    border: 1px solid #4447;
    transition: .4s;
    outline: none;
    color: rgba(0, 0, 0, .7);
}

.answersDiv button:hover {
    letter-spacing: 3px;
    background-color: #333;
    color: white;
    -webkit-box-shadow: -2px 3px 9px 0px rgba(48,48,48,0.7);
    box-shadow: -2px 3px 9px 0px rgba(48,48,48,0.7);
}

.correctAnswerScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 90px;
    height: 500px;
}


.newQuestionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newQuestionBtn p {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.newQuestionBtn button {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(61, 191, 255);
    color: white;
    outline: none;
    transition: .3s;
    font-weight: lighter;
}

.newQuestionBtn button:hover {
    background-color: #247299;
}

.selectStyle {
    border:  none;
    color: white;
    background-color: #1c536f95;
    font-weight: lighter;
    font-size: 14px;
    margin: 5px;
    outline: none;
}


/*---------------------*/
/*-------FOOTER--------*/
/*---------------------*/
.footerDiv {
    height: 40px;
    background-color:#4a33b2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

.footerDiv a {
    text-decoration: none;
    color: white;
}

.icons {
    font-size: 30px;
}





@media only screen and (max-width: 600px){

    .headerNavDiv {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footerDiv {
        bottom: 100;
        top: 0;
    }

    .gameContainerDiv,
    .aboutDiv,
    .aboutDivOverlay,
    .welcomePageDiv,
    .welcomPageOverlay {
        padding-top: 30px;
    }

    .aboutDivOverlay p {
        font-size: 14px;
    }


    .gameContainerDiv {
        display: grid;
        margin-top: 20px;
        grid-template-rows: 5fr 1fr;
        padding-bottom: 50px;
    }

    .mobileQuestions {
        grid-row: 1;
        margin: 10px 0 10px 0;
    }

    .mobileControls {
        grid-row: 2;

    }

    .correctAnswerScreen {
        font-size: 70px;
    }

    .questionStyle {
        font-size: 22px;
    }

    .answersDiv {

    }

    .answersDiv button {
        font-size: 16px;
    }

    .aboutBlock4 {
        margin-bottom: 30px;
    }

    .answersDiv button:hover {
        letter-spacing: 0;
    }
}

@media only screen and (min-width: 900px){
    .aboutBlock1,
    .aboutBlock2,
    .aboutBlock3 {
        font-size: 23px;
    }

    .questionStyle {
        font-size: 33px;
    }

    .newQuestionBtn button {
        font-size: 20px;
    }

    .answersDiv button {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1200px){
    .questionStyle {
        font-size: 40px;
    }
    .newQuestionBtn button {
        font-size: 24px;
    }

    .answersDiv button {
        font-size: 28px;
    }
}
